@import 'tailwindcss';

@theme {
  --font-sans:
    'Inter Variable', 'Noto Sans TC', -apple-system, 'PingFang TC', 'Microsoft JhengHei', sans-serif;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  font-family:
    'Inter Variable',
    'Noto Sans TC',
    -apple-system,
    'PingFang TC',
    'Microsoft JhengHei',
    sans-serif;
}
